<a href="https://colab.research.google.com/github/matheusmolon2/PA_2025/blob/main/manipula%C3%A7%C3%A3o_e_strings%2C_lista_duplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Manipulação de strings

In [ ]:
# 1 - Use o método len para imprimir o comprimento da string.
x = "Hello World"
print(len(x))

11

In [ ]:
# 2 - Obtenha o primeiro caractere da string txt.
txt = "Hello World"
x = txt[0]
print(x)

H

In [ ]:
# 3 - Obtenha os caracteres do índice 2 ao índice 4 ( llo).
txt = "Hello World"
x = txt[2:5]
print(x)

llo

In [ ]:
# 4 - Converta o valor de txt para maiúsculas.
txt = "Hello World"
txt = txt.upper()
print(txt)

HELLO WORLD

In [ ]:
# 5 - Conte quantas vezes aparece a palavra "de" na string abaixo
txt = "Eu gosto de viajar, tomar refri, de estudar programação, de estudar Pyhon"
txt = txt.count("de")
print(txt)

3

In [ ]:
# 6 - Separe a frase abaixo toda vez que encontrar um vírgula
txt = "Eu gosto de vijar, tomar refri, de estudar programação, de estudar Pyhon"
txt = txt.split(',')
print(txt)

['Eu gosto de vijar', ' tomar refri', ' de estudar programação', ' de estudar Pyhon']

In [ ]:
#7 - Peça ao usuário uma frase e substitua todas as ocorrências de espaço por “#”.
txt = str(input("Digite uma frase: "))
rp = txt.replace(' ', '#')
print(rp)

Digite uma frase: celular novo]
celular#novo]

In [ ]:
# 8 - Faça um programa que retorne True se duas strings lidas do teclado são palíndromas mútuas, ou seja, se uma é igual à outra quando lida de traz para frente ou False, se não forem.
# Por exemplo: amor e roma
str1 = input("Digite a primeira palavra: ")
str2 = input("Digite a segunda palavra: ")


resultado = str1 == str2[::-1]

print(resultado)

Digite a primeira primeira palavra: arara
Digite a segunda palavra: arara
True

In [ ]:
# 9- Faça um programa que leia o nome do usuário e mostre o nome de traz para frente, utilizando somente letras maiúsculas.
txt = str(input('Digite seu nome: '))
contra = txt[::-1]
maius = contra.upper()
print(maius)

Digite seu nome: molon
NOLOM

#Listas_Tuplas e Dicionarios

In [ ]:
# 1 seu código aqui...
cidades = ["Santa Catarina", "São Paulo", "Florianopoles", "Curitiba", "Porto Alegre"]
cidades.append("Florianópolis")
cidades.pop(1)
print(cidades)

['Santa Catarina', 'Florianopoles', 'Curitiba', 'Porto Alegre', 'Florianópolis']

In [ ]:
# 2  seu código aqui...
cores = ("vermelho", "azul", "verde", "amarelo")
novas_cores = cores + ("preto", "branco")
print(novas_cores)

('vermelho', 'azul', 'verde', 'amarelo', 'preto', 'branco')

In [ ]:
# 3 seu código aqui...
aluno = {"nome": "Marcos", "idade": 50, "curso": "Medicina"}
aluno["idade"] = 50
aluno["nota"] = 9.5
print(aluno)

{'nome': 'Marcos', 'idade': 50, 'curso': 'Medicina', 'nota': 9.5}

In [ ]:
# 4 seu código aqui...
produtos = [
    {"nome": "Notebook", "preço": 3500},
    {"nome": "Celular", "preço": 2000},
    {"nome": "Fone de Ouvido", "preço": 150}
]

produtos.append({"nome": "Mouse", "preço": 80})
produtos[0]["preço"] = 3200
print(produtos)

[{'nome': 'Notebook', 'preço': 3200}, {'nome': 'Celular', 'preço': 2000}, {'nome': 'Fone de Ouvido', 'preço': 150}, {'nome': 'Mouse', 'preço': 80}]

In [ ]:
# 5 seu código aqui...
dados = [
    ("Ryan", 20),
    ("Vine", 45),
    ("Lucas", 40),
    ("Molon", 58)
]

In [ ]:
maisvelho = 0
nomevelho = ""

if (dados[0][1])> maisvelho:
  maisvelho = dados[0][1]
  nomevelho = dados[0][0]

if (dados[1][1])> maisvelho:
  maisvelho = dados[1][1]
  nomevelho = dados[1][0]

if (dados[2][1])> maisvelho:
  maisvelho = dados[2][1]
  nomevelho = dados[2][0]

if (dados[3][1])> maisvelho:
  maisvelho = dados[3][1]
  nomevelho = dados[3][0]
media = (dados[0][1] + dados[1][1] + dados[2][1] + dados[3][1])/4

print(f"A pessoa mais velha é: {nomevelho} , e a media de idade é:{media}")

A pessoa mais velha é: Molon , e a media de idade é:40.75