<a href="https://colab.research.google.com/github/matheusmolon2/PA_2025/blob/main/vairaveiseconstantesaritimeticos/variaveiseconstantes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#variaveis e constantes

In [ ]:
idade = 15
altura = 1.77
nome = "Matheus Henrique"
vai = True

In [ ]:
nomes = ['Matheus Henrique', 'Lucas', 'Pedro']
nomes2 = ['Matheus Molon', 'Liza', 'Paulo']
tudo = {nome:'Matheus Henrique',idade: 15,altura:1.77}

In [ ]:
print(nome)
print(nomes)
print(nomes2)
print(tudo)

Matheus Henrique
['Matheus Henrique', 'Lucas', 'Pedro']
['Matheus Molon', 'Liza', 'Paulo']
{'Matheus Henrique': 'Matheus Henrique', 15: 15, 1.77: 1.77}

In [ ]:
print(type(idade))
print(type(altura))
print(type(vai))
print(type(nome))
print(type(nomes))
print(type(nomes2))
print(type(tudo))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
<class 'list'>
<class 'list'>
<class 'dict'>

In [ ]:
print("O nome dele é:",nome,",Sua idade é:",idade,"anos, ele tem",altura,"metros.")

O nome dele é: Matheus Henrique ,Sua idade é: 15 anos, ele tem 1.77 metros.

In [ ]:
print(f"O nome dele é : {nome}. A Altura é:{altura} metros")

O nome dele é : Matheus Henrique. A Altura é:1.77 metros

#Área do círculo

In [ ]:
PI = 3.14159
raio =float(input("Digite o valor do raio do circulo: "))

Digite o valor do raio do circulo: 7

In [ ]:
areacir = PI * (raio**2)

In [ ]:
print(f"A ara ea do circulo é {areacir}")

A ara ea do circulo é 153.93791



# ÁREA DO CIRCULO

In [ ]:
lado = float(input("digite o  valor aqui "))
area = lado**2

print(f"area do quadrado é igual a : {area}")

digite o  valor aqui 8
area do quadrado é igual a : 64.0

# Exercícios

## Exercício 1 - Área do Retângulo

Crie um programa que calcule a área de um retângulo usando uma constante para representar a base.

 Fórmula: A = base × altura

In [3]:
base =float(input("digite o valor da base: "))
altura =float(input("digite o valor da altura: "))

digite o valor da base: 7
digite o valor da altura: 3

In [5]:
arearetan = base*altura

In [7]:
  print(f"digite a área do retangulo :{arearetan}")

digite a área do retangulo :21.0

## Exercício 2 – Perímetro do Círculo

Crie um programa que calcule o perímetro de um círculo usando a constante π.

 Fórmula: P = 2 × π × r

In [10]:
raio = float(input("digite o valor do raio: "))
PI = float(input("digite o valor de PI: "))

digite o valor do raio: 15
digite o valor de PI: 3.14159

In [12]:
perimetro = 2*PI*raio

In [13]:
perimetro

94.2477

## Exercício 3 – Conversão de Temperatura

Crie um programa que converta uma temperatura de Fahrenheit para Celsius.

 Fórmula: C = (F - 32) × 5/9

In [14]:
fahrenheit = float(input("digite o valor da temperatura em faherenhait: "))

digite o valor da temperatura em faherenhait: 79

In [15]:
celsius = (fahrenheit - 32)*5/9

In [17]:
celsius

26.11111111111111

## Exercício 4 – Cálculo do IMC

Crie um programa que calcule o Índice de Massa Corporal (IMC) de uma pessoa.

 Fórmula: IMC = peso / altura²

In [18]:
peso = float(input("digite o valor do peso:" ))
altura = float(input("digite o valor da altura:" ))

digite o valor do peso:83
digite o valor da altura:1.77

In [19]:
imc = peso/(altura**2)

In [20]:
imc

26.493025631204315